[submodule "app_lecture/Simple-WebSocket-Server"]
	path = app_lecture/Simple-WebSocket-Server
	url = https://gitlab.com/eidheim/Simple-WebSocket-Server.git
[submodule "externals/navigation_layers"]
	path = externals/navigation_layers
	url = https://github.com/DLu/navigation_layers.git
[submodule "externals/Groot"]
	path = externals/Groot
	url = https://github.com/BehaviorTree/Groot.git
[submodule "externals/obstacle_detector"]
	path = externals/obstacle_detector
	url = https://github.com/tysik/obstacle_detector.git
