<launch>
  <arg name="model" default="$(find sim_lecture)/urdf/simple_robot1.urdf"/>   
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>

  <param name="robot_description" command="$(find xacro)/xacro $(arg model)"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="debug" value="$(arg debug)" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="headless" value="$(arg headless)"/>
  </include>
  
  <node name="robot_state_publisher" pkg="robot_state_publisher"
  type="robot_state_publisher"
  respawn="false" output="screen" ns="/my_robo"/>
   
  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
    args="-urdf -model my_robo -z 0.04 -param robot_description"/>
 
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find sim_lecture)/config/SETTING.rviz" required="true" />

</launch>