<launch>

  <arg name="model" default="$(find vis_lecture)/urdf/simple_body5.urdf" />
  <arg name="gui" default="false" />
  <arg name="rvizconfig" default="$(find urdf_tutorial)/rviz/urdf.rviz" />

  <param name="robot_description" command="$(find xacro)/xacro.py $(arg model)" />
  <param name="use_gui" value="$(arg gui)"/>
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />

  <node name="vis_tf_broadcast" pkg="vis_lecture" type="vis_tf_broadcast"/>
  <node name="vis_tf_listen"    pkg="vis_lecture" type="vis_tf_listen" output="screen"/>
</launch>
