<launch>
  <node name="joy_node" pkg="joy" type="joy_node" />
  <node name="info_diagnostic" pkg="info_lecture" type="info_diagnostic" />
  <node pkg="diagnostic_aggregator" type="aggregator_node" name="diagnostic_aggregator" >
    <rosparam command="load" file="$(find info_lecture)/config/diagnostics.yaml" />
  </node>
</launch>
