<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <arg name="model" default="$(find laser_lecture)/xacro/laser_box.xacro" />
  <arg name="rvizconfig" default="$(find laser_lecture)/rviz/obstacle_detector.rviz" />  
  <param name="robot_description" command="$(find xacro)/xacro $(arg model) --inorder"/>

  <!-- gazebo world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find sim3_lecture)/worlds/world_test5.world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>

  <!-- gazebo model -->
  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model dtw_robot" />
  <node pkg="tf" type="static_transform_publisher" name="tf_1" args="0 0 0 0 0 0 map base_link 10" />
  <node pkg="tf" type="static_transform_publisher" name="tf_2" args="0 0 0 0 0 0 base_link front_laser_link 10" />

  <!-- obstacle detector -->
  <rosparam command="load" file="$(find laser_lecture)/config/obstacle_detector.yaml" />
  <node name="obstacle_extractor" pkg="obstacle_detector" type="obstacle_extractor_node">
    <remap from="scan" to="/front_laser/scan" />
  </node>
  <node name="obstacle_tracker" pkg="obstacle_detector" type="obstacle_tracker_node" />

  <!-- rviz -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />
</launch>
