<?xml version="1.0"?>
<robot name="dtw_robot" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="sonar_macro" params="parent prefix xyz rpy robot_name">
    <joint name="${prefix}_joint" type="fixed">
      <parent link="${parent}"/>
      <child  link="${prefix}_link"/>
      <origin xyz="${xyz}" rpy="${rpy}"/>
    </joint>
    <link name="${prefix}_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <cylinder radius="0.02" length="0.06" />
        </geometry>
        <material name="gray" />
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <cylinder radius="0.02" length="0.06" />
        </geometry>
      </collision>
    </link>
    <gazebo reference="${prefix}_link">
      <sensor type="ray" name="sonar">
        <pose>0 0 0 0 0 0</pose>
        <update_rate>20</update_rate>
        <ray>
          <scan>
            <horizontal>
              <samples>3</samples>
              <resolution>1</resolution> 
              <min_angle>-0.05</min_angle>
              <max_angle>0.05</max_angle>
            </horizontal>
            <vertical>
              <samples>3</samples>
              <resolution>1</resolution> 
              <min_angle>-0.05</min_angle>
              <max_angle>0.05</max_angle> 
            </vertical>
         </scan>
          <range>
            <min>0.03</min>
            <max>2</max>
            <resolution>0.02</resolution>
          </range>
        </ray>
        <plugin filename="libgazebo_ros_range.so" name="gazebo_ros_range">
          <gaussianNoise>0.005</gaussianNoise>
          <alwaysOn>true</alwaysOn>
          <updateRate>10</updateRate>
          <topicName>${prefix}/range</topicName>
          <frameName>${robot_name}/${prefix}_link</frameName>
          <radiation>ULTRASOUND</radiation>
          <fov>0.1</fov>
        </plugin>
      </sensor>  
    </gazebo>
  </xacro:macro> 
</robot>
