<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <arg name="fcu_url" default="/dev/ttyACM0:57600" />

  <node pkg="mavros" type="mavros_node" name="mavros" clear_params="true" output="screen">
    <param name="fcu_url" value="$(arg fcu_url)" />

    <!-- load blacklist, config -->
    <rosparam command="load" file="$(find mavros)/launch/apm_pluginlists.yaml" />
    <rosparam command="load" file="$(find hard_lecture)/config/apm_config.yaml" />
  </node>

  <node name="mavparam" pkg="hard_lecture" type="mavparam.py" output="screen"/>
  <node name="mavros_bridge" pkg="hard_lecture" type="hard_mavros_bridge"/>
</launch>
